<div class="body">
  <h1>Hier sind die bisherigen Projekte</h1>

  <div>
    @if (errorMessage) {
      <div>
        {{ errorMessage }}
      </div>
    } @else if (projects.length > 0; ) {
      <ul>
        @for (project of projects; track project) {

          <li class="project-item">
            <a routerLink="/projekt/{{project.slug}}" [class.highlighted]="project.aktivesProjekt">
              {{ project.title }}
            </a>

          </li>
        }
      </ul>
    } @else {
      <div>
        Projekte werden geladen...
      </div>
    }
  </div>

</div>
