<h1>Adelheids Reise</h1>


<p>Das ist Adelheid. Adelheid ist ein Arduino, welcher gerne die Welt sehen möchte.</p>
<img ngSrc="/assets/images/Adelheid_Motortreiber.jpg" height="160"
     width="120" alt="Arduino mit Motortreiber und Kabeln"/>


<p>Adeheid ist aber schon gewachsen. Sie hat schon folgende Dinge erorbert: </p>
<ul>
  <li> ihr eigenes USB-Shield, um mit ihrem befreundeten Controller zu kommunizieren </li>
  <li> ein Motortreiber, um endlich mobil zu sein </li>
  <li> eine Energiequelle in Form eines wiederaufladbaren Akkus </li>
</ul>
